.header {
  background-color: #657dc4;
  color: white;
  height: 65px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 30px;
}
